<!--Denne her side er tyvstjålet fra:
 https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_portfolio&stacked=h
 (men det var også suuuuper hårdt at kopiere ind)
 -->


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Film</title>
    <link rel="icon" href="../../img/KinoXP-logo-small.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../general/index.html"><img src="../../img/KinoXP-logo-small.png" alt="KinoXP-logo-small"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" id="menuBar">
                <li class="active"><a href="movies.html">Film</a></li>
                <li><a href="movie-calender.html">Filmkalender</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a id="linkAbout" href="../customer/about.html">Om os</a></li>
                <li><a id="linkContact" href="../customer/contact.html">Kontakt</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="linkCreateUser" href="../pre-log-in/create-user.html"><span></span>Opret Bruger</a></li>
                <li><a id="linkLogIn" href="../pre-log-in/log-in.html"><span class="glyphicon glyphicon-log-in"></span> Log ind</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container text-center">
        <img src="../../img/KinoXP-logo.png" alt="KinoXP-logo" width="350px"><br><br>
        <h3>Filmoversigt</h3>
    </div>
</div>
<button id="btnFullscreen">TRYK PÅ MIG</button>


<div id="divMovies" class="container-fluid text-center">


    <div id="divRow" class="row"> <!--function createRow -->
        <!--
        let chosenMovie;
        function for hvert link-->

    </div>
    <br>


</div>
<br>


<footer class="container-fluid text-center">
    <p>Lygten 37, 2400 København NV</p>
</footer>
<script src="menu-bar.js"></script>
<script src="movies.js"></script>

</body>
</html>





